<h1>signup</h1>

{% if error  %}
{{ error }}
<br/><br/>
{% endif %}

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %} <!--I don't know what this is, but I think its for security practices =From Jordan= -->

    Username:
    <br/>
    <input type"text" name="username"/>

    <br/><br/>

    Password:
    <br/>
    <input type="password" name="password"/>

    <br/><br/>

    Confirm Password:
    <br/>
    <input type="password" name="confpassword"/>
    <br/><br/>

    <input  type="submit" value="Sign Up!"/>
</form>