#location-panel{
    text-align: center;
    /* margin: auto; */
}

#app_logo{
    margin: auto;
    width: 80%;
    border: black solid 3px;
}

#Bookmarks_or_user_info{
    display: inline-block;
    margin-left: 25rem;
}

#header_news_icon{
    /* background-color: red; */
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2.5rem;
}

#GeoNews-Title-Container{
    display: inline-block;
    /* position: inherit;
    border: 3px solid red!important;
    background-color: aqua; */
}
#GeoNews-Title{
    /* position: relative; */
    margin-left: 1rem;
    font-size: 48px;
}

#inner_geo_news_container{
    /* border: pink 4px solid;
    background-color: darkgray; */
    margin-top: 4px;
}

#GeoNews-Title + p {
    text-align: center;
}
body{
    /* background-image: url(https://i.imgur.com/SvnuN4M.png); */
    background-image: url('../images/long_island.jpg');
    background-size: cover;
    /* height: 100vh; */
}

.app-container{
    margin: auto;
    border: orange solid 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75) ;
}
#map {
    height: 700px;
    /* 75% of div container */
    margin: auto;
    width: 75%;
    padding: 10px;
    opacity: 1!important;
}

#floating-panel {
    padding: 5px;
    margin: auto;
    width: 75%;
    border: black solid 1px;
    text-align: center;
}

/* Delete Button */
#deleteMarkers {
    color: red;
    font: bolder;
}


#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.bookmark_checkbox{
    cursor: pointer;
}

input[name="marker_ids"] + label{
    color: blue;
}
input[name="marker_ids"] + label:hover{
    text-decoration-color: blue;
    text-decoration: underline;
    cursor: pointer;
}


nav{
    border-color: red solid 3 px;
    padding: 5px;
    background-color: bisque;
}
nav ul{height: 8rem; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}


/* css animations for hiding bookmark forms */
.displayForm{
    visibility: visible;
    animation-name: EaseIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.hideForm{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear 1000ms, opacity 300ms;
}

#semantic_header_override{
    /* height: 5rem!important; */
}

@keyframes EaseIn {
    from {
      transform: rotate(0deg) scale(1) skew(0deg) translate(500px);
    }
    to {
      transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    }
  }

  /* @keyframes EaseOut {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
    }
  } */