<!DOCTYPE html>
<html lang="en">
    <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoNews Web Application</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    <script type="module" src="{% static 'js/google_map.js' %}"></script>
    <!-- <script>window.CSRF_TOKEN="{{ csrf_token }}"</script> -->
</head>
<body>
    <p>
        <a href="{% url 'count_homepage' %}">Count Home Page (Django way) </a>
        <br/>
        <a href="count_homepage/">Count Home Page (html way) </a>
    </p>
    <div class="map-container">
        <h1 id="GeoNews-Title">GeoNews</h1>
        {% if user.is_authenticated %}
            Welcome {{ user.username }} <br>
            <a href="{% url 'logout' %}">Log Out<a/> <br><br>
            Your bookmarks: (below)
            <br/>
            {% for obj in bookmarks %}
                {{obj.address}}
                <br/>

            {% endfor %}
            <br/>
            ^^^
        {% else %}
            <a href="{% url 'signup' %}">Login</a> to save your bookmarks! 
        {% endif %}
        <p>Get the news just by clicking :D</p>
        <!-- Text Input Field -->
        <div id="location-panel">
            <form action="{% url 'homepage' %}" method="POST">
                <!-- Django requires csrf_token in form for security purposes -->
                {% csrf_token %}
                <label for="address">City, State: </label>
                <input id="target_address" name="address" type="textbox" value="" />
                <label for="coordinates">Coords:</label>
                <input id="target_coords" name="coordinates" type="textbox"/>
                <input id="submit" type="submit" value="locate" />
            </form>
        </div>
        
        <!-- Reserved id 'map' for google map to appear-->
        <div id="map"></div>
        <div id="floating-panel">
            <input id="clearMarkers" type="button" value="Hide Markers" />
            <input id="showMarkers" type="button" value="Show All Markers" />
            <input id="deleteMarkers" type="button" value="Delete Markers" />
        </div>

    </div>
    <div id="articles-container">
        <!-- News Cards will get rendered in here -->
    </div>
    </div>

    <!--DO NOT MOVE THIS SCRIPT TAG ... IT NEEDS TO LOAD LAST-->
    <script type="module" src="{% static 'js/map_marker.js' %}"></script>
</body>
</html>